@model MVC_6_Model_Kavrami.Controllers.Insan
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KisiGoster</title>
</head>
<body>
    <div>
        <b>@Model.ad @Model.soyad @Model.yas</b>
    </div>
</body>
</html>